@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body 
{
	color: #555;
	margin: 0;

	font-family: 'Montserrat', sans-serif;
}

#header 
{
	background-color: #0f0f0f;
	height: 150px;
	line-height: 150px;
}

#header-title
{
	display: block;
	float: left;

	font-size: 20px;
	font-weight: bold;
}

#header-nav
{
	display: block;
	float: right;
	margin-top: 0;
}

#header-nav li
{
	display: inline;
	padding-left: 20px;
}

.container
{
	max-width: 1000px;
	margin: 0 auto;
}

#header a 
{
	color:white;
	text-decoration: none;

	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#header a:hover
{
	color: #F6A623;
}

#footer 
{
	background-color: #0f0f0f;
	padding: 50px 0;
  margin-top: 250px;


}

.fcolumn
{
	min-width: 300px;
	display: inline-block;
	vertical-align: top;
}

#footer h4  
{
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.1em;
  /*margin-top: 50px;*/

}

#footer p
{
	color:white;

}

a 
{
	color: white;
	text-decoration: none;
}

a:hover
{
	color: #F6A623;
}

.post, .about
{
	max-width: 800px;
	margin: 0 auto;
	padding: 60px 0;
}

.post-author img
{
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

.post-author span
{
	margin-left: 16px;
}

.post-date
{
	color: #D2D2D2;

	font-size: 14px;
	font-weight: bold;

	text-transform: uppercase;
	letter-spacing: 0.1em;
}

h1, h2, h3, h4
{
	color: white;
}

p
{
  color: white;
  line-height: 1.5;
}




/* Lightbox CSS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.row > .column {
  padding: 0 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 10%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

